<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <mdc/> <!-- MDC variables on the Thread will be written as JSON fields-->
                <context/> <!--Outputs entries from logback's context -->
                <logLevel/>
                <loggerName/>
                <pattern/>
                <threadName/>
                <message/>

                <logstashMarkers/> <!-- Useful so we can add extra information for specific log lines as Markers-->
                <arguments/> <!--or through StructuredArguments-->

                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <exclude>net\.sf\.cglib\..*</exclude>
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <logger name="com.mchange.v2" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="info"/>
    <logger name="com.zaxxer" level="info"/>
    <logger name="io.sentry" level="info"/>
    <logger name="org.hibernate.tuple" level="warn"/>
    <logger name="org.hibernate.hql" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.springframework.orm.jpa" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.synchronoss.cloud.nio.multipart" level="info"/>
    <logger name="reactor.netty" level="info"/>
    <logger name="io.lettuce" level="info"/>
    <logger name="org.apache.kafka" level="warn"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>